body {
    /*background-color: black;*/
}

#leftPanel {
    position: fixed;
    margin: 5px;
    top: 0px;
    left: 0px;
    width: 240px;
    bottom: 0px;
}

#options {
    padding: 5px;
}

#options ul {
    margin: 0px;
    padding: 0px;
}

#options li {
    text-align: center;
    list-style: none;
    margin-bottom: 0px;
}

#variables {
    padding: 5px;
}

#mainPanel {
    position: fixed;
    top: 0px;
    left: 250px;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    padding: 0px;
}

#dropPanel {
    position: fixed;
    top: 0px;
    left: 250px;
    right: 0px;
    bottom: 0px;
    margin: 20px;
    border: dashed gray 5px;

    text-align: center;
    z-index: -1;
}

#fileInput {
    position: absolute;
    left: -9999px;
}